.search-box {
  background-color: aliceblue;
  height: 500px;
  margin: 40px;
  padding: 40px;
  border-radius: 10px;
}
.searchBtn {
  margin-top: 15px;
  width: 180px !important;
}
.map {
  margin: 40px;
}
.searched-img {
  width: 30px;
}
.result {
  margin: 10px;
  display: flex;
  background-color: white;
}
.eachResult {
  padding: 10px;
}
.toFrom {
  padding: 10px;
}
